@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}
.categorias {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(6, 54, 54);
  justify-content: space-around;
}

.body {
  height: 100%;
  padding: 10px;
}

.secao {
  height: 30%;
  border-color: 1px solid rgb(6, 54, 54);
  display: flex;
  border-radius: 5%;
}

.tableItem {
  height: fit-content;
  border-color: 1px solid rgb(6, 54, 54);
  display: flex;
}

.secaoTitle {
  height: fit-content;
  margin-bottom: 5px;
}

a {
  margin: 5px;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  overflow: auto;
}

.produtos button {
  font-size: 0.5em;
  white-space: normal;
  word-wrap: normal;
}

.categorias a {
  font-size: 1.1vh;
  white-space: normal;
  word-wrap: normal;
}

.produtos button {
  margin: 3px;
  border-radius: 10%;
}
