@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}
body,
.main {
  line-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  font-family: "Charm", cursive;
  /* display: inline-block;
  text-align: center; */
}

.carousel .carousel-item {
  width: 100%;
  height: 100%;
  background-color: red;
}

.collectionContainer {
  display: block;
  overflow: auto;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.total {
  text-align: end;
  color: red;
}

.title {
  background-color: #e6822b;
  font-family: "Charm", serif;
  text-align: center;
  margin-bottom: 0;
  border: 1px solid black;
}

.name,
.itens,
.total {
  font-family: "Charm", serif;
  font-size: 1em;
}
.name {
  text-align: center;
}
.itens {
  text-align: center;
}

.total {
  color: red;
}
