@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

h1 {
  font-family: "Noto Sans KR", sans-serif;
  /* display: inline-block;
  text-align: center; */
}

/* .carousel .carousel-item {
  width: 100%;
  height: 100%;
  background-color: red;
} */

/* .collectionContainer {
  display: block;
  overflow: auto;
} */

.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.total {
  text-align: end;
  color: red;
}

.name,
.itens,
.total {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1em;
}
.name {
  text-align: center;
}
.itens {
  text-align: center;
}

.total {
  color: red;
}

.collectionContainer {
  display: block;
  overflow: auto;
  height: 500px;
}
