@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");
body,
html,
.main {
  margin: 0;
  height: 100%;
  width: 100%;
}
body,
.main {
  line-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  font-family: "Charm", cursive;
  display: inline-block;
  text-align: center;
}
